<div class="center hero-unit">
	<h1>Welcome to Storyfork</h1>
	<h2>This is the homepage where the stories will be displayed</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
